body {
	background-image: url("../images/sandpaper.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.bodyContainer {
	width: 960px;
	min-width: 770px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
}
header {
	background-color: white;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: grey;
	overflow: auto;
	width: 100%;
	min-width: 770px;
}
header h1 {
	background-color: teal;
	padding: 25px;
	margin: 20px 0 0 100px;
	display: inline-block;
	color: white;
}
header ul {
	float: right;
	margin: 50px 100px 0;
}
header li {
	float: left;
	border-right: 1px solid grey;
}
header li a {
	display: inline-block;
	background-color: white;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}
footer {
	clear: both;
	padding: 30px;
	text-align: center;
	background-color: grey;
	border-top: 5px solid teal;
	color: white;
}
.mainContainer {
	width: 568px;
	background-color: white;
	border: 1px solid grey;
	margin: 40px -70px 40px 100px;
	padding: 40px;
	line-height: 150%;
	float: left;
}
.mainContainer .header {
	padding: 20px;
	background-color: white;
	border-bottom: 2px solid rgb(210,210,210)
}
.bio {
	margin-top: 40px;
}
.bio img {
	height: 200px;
	width: 200px;
	float: left;
	margin: 0 40px 40px 0;
}
.bio p {
	
}
.connect {
	background-color: white;
	width: 238px;
	border: 1px solid grey;
	float: left;
	margin: 40px 0 40px 100px;
	padding: 15px;
}
.connect .header {
	padding: 10px;
	background-color: white;
	border-bottom: 2px solid rgb(210,210,210)
}
.connect img {
	height: 40px;
	width: 40px;
	padding: 10px 15px;
}
.portfolio {
	margin-top: 40px;
}
.portfolioContainer {
	height: 200px;
	width: 200px;
	margin: 20px;
}
.portfolioContainer p {
	text-align: center;
	background-color: teal;
	color: white;
	margin-top: 155px;
	height: 20px;
	width: 200px;
	padding: 10px 0;
}
#hangman {
	background-image: url(../images/placeholder-1.jpg);
	display: inline-block;
}
#rpgGame {
	background-image: url(../images/placeholder-2.jpg);
	display: inline-block;
}
#triviaGame {
	background-image: url(../images/placeholder-3.jpg);
	display: inline-block;
}
#rutgersInfo {
	background-image: url(../images/placeholder-4.jpg);
	display: inline-block;
}
#rps {
	background-image: url(../images/placeholder-5.jpg);
	display: inline-block;
}